<!-- ===============================================
  Archivo: src/views/layouts/main.handlebars
  Descripción: Plantilla principal para todas las vistas.
  =============================================== -->

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mi Tienda Online</title>
  </head>
  <body>
    {{{body}}}
  </body>
</html>